<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Carddeckplatform_site_1_7</servlet-name>
		<servlet-class>carddeckplatform.Carddeckplatform_site_1_7Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Carddeckplatform_site_1_7</servlet-name>
		<url-pattern>/carddeckplatform_site_1_7</url-pattern>
	</servlet-mapping>
	<servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>carddeckplatform.UploadBlobServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>Serve</servlet-name>
    <servlet-class>carddeckplatform.ServeBlobServlet</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Serve</servlet-name>
    <url-pattern>/serve</url-pattern>
  </servlet-mapping>
  
  
  
  
	<servlet>
		<servlet-name>Cardeckplatform_details</servlet-name>
		<servlet-class>carddeckplatform.PluginDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cardeckplatform_details</servlet-name>
		<url-pattern>/cardeckplatform_details</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Cardeckplatform_rank</servlet-name>
		<servlet-class>carddeckplatform.RankingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cardeckplatform_rank</servlet-name>
		<url-pattern>/rank</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>